html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header */
.bgHeader {
  background-image: url(../public/img/bgHeader.png);
}

header {
  width: 1440px;
  height: 646px;
}

/* Login */
.bgLogin {
  background-image: url(../public/img/bgLogin.png);
  height: 795px;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
